body {
  font-family: "Courier New", Courier, monospace;
  background-color: #e3f4ef;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
}

div.container {
  background: url(../images/pink.jpg);
  background-repeat: no-repeat;
  border: 3px solid #e8e3f2;
  border-radius: 25px;
  margin: 40px auto;
  max-width: 630px;
  /* height: 450px; */
  color: #ffff;
}

button {
  margin: 0 5px;
}

h1 {
  font-size: 50px;
  margin: 20px 0 10px 25px;
}

h2 {
  font-size: 30px;
  margin: 10px 0px 15px 25px;
}

ul {
  font-size: 25px;
  margin-left: -5px;
}

h3 {
  font-size: 17px;
  margin: 15px 0px 20px 20px;
  text-decoration: underline;
  text-decoration-color: #ffc85c;
}

a {
  color: #8e97f2;
  text-decoration: none;
}

a:hover {
  color: #8e97f2;
}

p.bottom {
  text-align: center;
  font-size: 14px;
  margin: 5px;
}

.searchCity {
  margin: 20px 0px 0px 5px;
}

.currentTemperature {
  position: relative;
  top: 26px;
  font-size: 78px;
}

.units {
  position: relative;
  bottom: 15px;
}

.weather-forecast-temperature {
  font-size: 16px;
  margin: 20px 0 10px 27px;
}

.active {
  color: #ffff;
  cursor: default;
}

.active:hover {
  text-decoration: none;
  color: #ffff;
}

.icon-forecast {
  margin: 5px 0px 5px 18px;
  width: 50px;
  height: 50px;
  color: #8e97f2;
}

#main-icon {
  position: relative;
  bottom: 30px;
  height: 80px;
  width: 80px;
  margin: 0;
  color: #8e97f2;
}
